/*  Default Orange stylesheet
 */

/*
 * Icon search paths relative to this files directory.
 * (main.py script will add this to QDir.searchPaths)
 */

@canvas_icons: orange;


/* Main window background color */

CanvasMainWindow {
    background-color: #E9EFF2;
}

QMainWindow::separator {
    width: 1px; /* when vertical */
    height: 1px; /* when horizontal */
}


/* The widget buttons in the dock tool box */

WidgetsToolGrid QToolButton {
    font-family: "Helvetica";
    font-size: 10px;
    font-weight: bold;
    color: #333;
}


/* Dock widget toolbox tab buttons (categories) */

WidgetToolBox QToolButton#toolbox-tab-button {
    /* nativeStyling property overrides the QStyle and uses a fixed drawing
    routine */
    qproperty-nativeStyling_: "false";

    font-family: "Helvetica";
    font-size: 14px;
    font-weight: bold;
    color: #333;
    border: none;
    border-bottom: 1px solid #B5B8B8;
    background: qlineargradient(
        x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #F2F2F2,
        stop: 0.5 #F2F2F2,
        stop: 0.8 #EBEBEB,
        stop: 1.0 #DBDBDB
    );
}


WidgetToolBox QToolButton#toolbox-tab-button:hover {
    background-color: palette(light);
}


WidgetToolBox QToolButton#toolbox-tab-button:checked {
    background-color: palette(dark);
}


WidgetToolBox QToolButton#toolbox-tab-button:focus {
    background-color: palette(highlight);
    border: 1px solid #609ED7
}


WidgetToolBox ToolGrid {
    background-color: #F2F2F2;
    padding-bottom: 8px;
}


WidgetToolBox ToolGrid QToolButton {
    border: none;
    /* border-bottom: 2px solid #B5B8B8;
    border-right: 2px solid #B5B8B8; */
    background-color: #F2F2F2;
    border-radius: 8px;
}


WidgetToolBox ToolGrid QToolButton[last-column] {
    border-right: none;
}

WidgetToolBox  ToolGrid QToolButton:focus {
    background-color: palette(window);
}

WidgetToolBox  ToolGrid QToolButton:hover {
    background-color: palette(light);
}

WidgetToolBox  ToolGrid QToolButton:pressed {
    background-color: palette(dark);
}



/*
 *QuickCategoryToolbar _QuickCategoryButton {
 *    qproperty-nativeStyling_: "true";
 *    background-color: palette(button);
 *    border: none;
 *    border-bottom: 1px solid palette(dark);
 *}
 */


/* Canvas Dock Header */

CollapsibleDockWidget::title {
    background: qlineargradient(
        x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #808080, stop: 1.0 #666
    );
}

/* Dock widget title bar button icons (icon size for both must be set).
 * The buttons define the title bar height.
 */

CollapsibleDockWidget::close-button, CollapsibleDockWidget::float-button {
    padding: 1px;
    icon-size: 11px;
}

CanvasToolDock WidgetToolBox {
    border: 1px solid #B5B8B8;
}


/* Toolbar at the bottom of the dock widget when in in expanded state
 */

CanvasToolDock QToolBar {
    height: 28;
    spacing: 1;
    border: none;
    /*
    background: qlineargradient(
        x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #808080, stop: 1.0 #666
    );
    */
    background-color: #898989;

}

CanvasToolDock QToolBar QToolButton {
    border: none;
    background: qlineargradient(
        x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #808080, stop: 1.0 #666
    );
}

CanvasToolDock QToolBar QToolButton:menu-indicator {
     image: url(canvas_icons:/Dropdown.svg);
     subcontrol-position: top right;
     height: 8px;
     width: 8px;
}

CanvasToolDock QToolBar QToolButton:checked,
CanvasToolDock QToolBar QToolButton:pressed {
    background-color: #FFA840;
}


/* Toolbar in the dock when in collapsed state.
 */

CollapsibleDockWidget QWidget#canvas-quick-dock QToolBar {
    spacing: 1;
    border: none;
    /*
    background: qlineargradient(
        x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #808080, stop: 1.0 #666
    );
    */
    background-color: #898989;
}


CollapsibleDockWidget QWidget#canvas-quick-dock QToolBar QToolButton {
    border: none;
    background: qlineargradient(
        x1: 0, y1: 0, x2: 1, y2: 0,
        stop: 0 #808080, stop: 1.0 #666
    );
}

CollapsibleDockWidget QWidget#canvas-quick-dock QToolBar QToolButton:menu-indicator {
     image: url(canvas_icons:/Dropdown.svg);
     subcontrol-position: top right;
     height: 8px;
     width: 8px;
}

CollapsibleDockWidget QWidget#canvas-quick-dock QToolBar QToolButton:checked,
CollapsibleDockWidget QWidget#canvas-quick-dock QToolBar QToolButton:pressed {
    background-color: #FFA840;
}


/* Splitter between the widget toolbox and quick help.
 */

CanvasToolDock QSplitter::handle {
    border: 1px solid #B5B8B8;

/*    border-top: 1px solid #B5B8B8;
 *   border-bottom: 1px solid #B5B8B8;
 *   border-left: 1px solid #B6B6B6;
 *   border-right: 1px solid #B6B6B6;
 */

    background:  qlineargradient(
        x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #D4D4D4, stop: 0.05 #EDEDED,
        stop: 0.5 #F2F2F2,
        stop: 0.95 #EDEDED, stop: 1.0 #E0E0E0
    );
}


/* Scheme Info Dialog
 */

SchemeInfoDialog {
    font-family: "Helvetica";
    background-color: #E9EFF2;
}

SchemeInfoDialog SchemeInfoEdit QLabel {
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 16px;
    color: black;
}

SchemeInfoDialog QLabel#heading {
    font-size: 21px;
    color: #515151;
}

SchemeInfoDialog StyledWidget#auto-show-container * {
    font-family: "Helvetica";
    font-size: 12px;
    color: #1A1A1A;
}

SchemeInfoDialog StyledWidget#auto-show-container {
    border-top: 1px solid #C1C2C3;
}

SchemeInfoDialog SchemeInfoEdit QLineEdit {
    padding: 4px;
    /* background-color: red; */
    /* font-weight: normal; */
    font-size: 12px;
    color: #1A1A1A;
}

SchemeInfoDialog SchemeInfoEdit QTextEdit {
    padding: 4px;
    background-color: white;
    /* font-weight: normal; */
    font-size: 12px;
    color: #1A1A1A;
}


/* Preview Dialog (Recent Schemes and Tutorials)
 */

PreviewDialog {
    background-color: #E9EFF2;
}

PreviewDialog QLabel#heading {
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 21px;
    color: #515151;
}

PreviewDialog PreviewBrowser * {
    font-family: "Helvetica";
    color: #1A1A1A;
}

PreviewDialog PreviewBrowser TextLabel#path-text {
	font-size: 12px;
}

PreviewDialog PreviewBrowser QLabel#path-label {
	font-size: 12px;
}

/* Welcome Screen Dialog
 */

WelcomeDialog {
    background-color: #E9EFF2;
}

WelcomeDialog QToolButton {
	font-family: "Helvetica";
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #333;
}

WelcomeDialog QWidget#bottom-bar {
	border-top: 1px solid #C1C2C3;
}

WelcomeDialog QWidget#bottom-bar QCheckBox {	
	font-family: "Helvetica";
	font-size: 12px;
	color: #333;
}

/* SchemeEditWidget
 */

SchemeEditWidget {
	font-family: "Helvetica";
	font-size: 12px;
}

/* Quick Menu 
 */

QuickMenu {
	background-color: #E9EFF2;
}

QuickMenu QFrame#menu-frame {
	border: 1px solid #9CACB4;
    border-radius: 3px;
    background-color: #E9EFF2;
}

QuickMenu ToolTree QTreeView::item {
    height: 25px;
    border-top: 1px solid #e9eff2;
    border-bottom: 1px solid #e9eff2;
}

QuickMenu QTreeView::item:hover {
    background-color: lightblue;
    color: white;
}

QuickMenu QTreeView::item:selected {
    background-color: blue;
    color: white;
}

/* Quick Menu search line edit 
 */

QuickMenu QLineEdit {
    height: 25px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #9CACB4;
    border-radius: 3px;
    background-color: white;
}

QuickMenu QLineEdit:focus {
    border: 2px solid #9CACB4;
    border-radius: 2px;
}

QuickMenu QLineEdit QToolButton {
	qproperty-flat_: false;
    height: 25px;
    border: 1px solid #9CACB4;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #9CACB4;
    padding: 0px;
    margin: 0px;
    icon-size: 23px;
}
